simias/src/server/Simias.HostService/HostLocation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://novell.com/simias/host/location" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://novell.com/simias/host/location" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://novell.com/simias/host/location">
      <s:element name="IsCollectionOnHost">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="collectionID" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsCollectionOnHostResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsCollectionOnHostResult" type="s:boolean"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHomeServer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHomeServerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHomeServerResult" type="tns:HostInformation"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HostInformation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="MemberID" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="PublicAddress" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="PrivateAddress" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="PublicKey" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="Master" type="s:boolean"/>
        </s:sequence>
      </s:complexType>
      <s:element name="GetHostInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CollectionID" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="HostID" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHostInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHostInfoResult" type="tns:HostInformation"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHosts">
        <s:complexType/>
      </s:element>
      <s:element name="GetHostsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHostsResult" type="tns:ArrayOfHostInformation"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfHostInformation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HostInformation" nillable="true" type="tns:HostInformation"/>
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IsCollectionOnHostSoapIn">
    <wsdl:part name="parameters" element="tns:IsCollectionOnHost"/>
  </wsdl:message>
  <wsdl:message name="IsCollectionOnHostSoapOut">
    <wsdl:part name="parameters" element="tns:IsCollectionOnHostResponse"/>
  </wsdl:message>
  <wsdl:message name="GetHomeServerSoapIn">
    <wsdl:part name="parameters" element="tns:GetHomeServer"/>
  </wsdl:message>
  <wsdl:message name="GetHomeServerSoapOut">
    <wsdl:part name="parameters" element="tns:GetHomeServerResponse"/>
  </wsdl:message>
  <wsdl:message name="GetHostInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetHostInfo"/>
  </wsdl:message>
  <wsdl:message name="GetHostInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetHostInfoResponse"/>
  </wsdl:message>
  <wsdl:message name="GetHostsSoapIn">
    <wsdl:part name="parameters" element="tns:GetHosts"/>
  </wsdl:message>
  <wsdl:message name="GetHostsSoapOut">
    <wsdl:part name="parameters" element="tns:GetHostsResponse"/>
  </wsdl:message>
  <wsdl:portType name="HostLocationSoap">
    <wsdl:operation name="IsCollectionOnHost">
      <wsdl:input message="tns:IsCollectionOnHostSoapIn"/>
      <wsdl:output message="tns:IsCollectionOnHostSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetHomeServer">
      <wsdl:input message="tns:GetHomeServerSoapIn"/>
      <wsdl:output message="tns:GetHomeServerSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetHostInfo">
      <wsdl:input message="tns:GetHostInfoSoapIn"/>
      <wsdl:output message="tns:GetHostInfoSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetHosts">
      <wsdl:input message="tns:GetHostsSoapIn"/>
      <wsdl:output message="tns:GetHostsSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HostLocationSoap" type="tns:HostLocationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="IsCollectionOnHost">
      <soap:operation soapAction="http://novell.com/simias/host/location/IsCollectionOnHost" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHomeServer">
      <soap:operation soapAction="http://novell.com/simias/host/location/GetHomeServer" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHostInfo">
      <soap:operation soapAction="http://novell.com/simias/host/location/GetHostInfo" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHosts">
      <soap:operation soapAction="http://novell.com/simias/host/location/GetHosts" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HostLocation">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/"/>
    <wsdl:port name="HostLocationSoap" binding="tns:HostLocationSoap">
      <soap:address location="http://192.168.1.114:8086/simias10/HostLocation.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>