webaccess/test/web-test/external/ifolder/iFolderWeb.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://novell.com/ifolder/web/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://novell.com/ifolder/web/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://novell.com/ifolder/web/">
      <s:element name="GetServer">
        <s:complexType />
      </s:element>
      <s:element name="GetServerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServerResult" type="tns:iFolderServer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="iFolderServer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Version" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HostName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MachineName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OSVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSystem">
        <s:complexType />
      </s:element>
      <s:element name="GetSystemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSystemResult" type="tns:iFolderSystem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="iFolderSystem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateiFolder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateiFolderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateiFolderResult" type="tns:iFolder" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="iFolder">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OwnerID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OwnerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Domain" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ManagedPath" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UnManagedPath" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Size" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="Rights" type="tns:Rights" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="Rights">
        <s:restriction base="s:string">
          <s:enumeration value="Deny" />
          <s:enumeration value="ReadOnly" />
          <s:enumeration value="ReadWrite" />
          <s:enumeration value="Admin" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetiFolder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ifolderID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetiFolderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetiFolderResult" type="tns:iFolder" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetiFolderByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ifolderName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetiFolderByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetiFolderByNameResult" type="tns:iFolder" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteiFolder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ifolderID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteiFolderResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetiFolders">
        <s:complexType />
      </s:element>
      <s:element name="GetiFoldersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetiFoldersResult" type="tns:ArrayOfIFolder" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfIFolder">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="iFolder" nillable="true" type="tns:iFolder" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetUser">
        <s:complexType />
      </s:element>
      <s:element name="GetUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserResult" type="tns:iFolderUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="iFolderUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FullName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Rights" type="tns:Rights" />
          <s:element minOccurs="1" maxOccurs="1" name="Enabled" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetMembers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ifolderID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMembersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMembersResult" type="tns:ArrayOfIFolderUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfIFolderUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="iFolderUser" nillable="true" type="tns:iFolderUser" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateDirectoryEntry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ifolderID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parentID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="entryName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateDirectoryEntryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateDirectoryEntryResult" type="tns:iFolderEntry" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="iFolderEntry">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Path" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="iFolderID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ParentID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsDirectory" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsRoot" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="HasChildren" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ModifiedTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Size" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateFileEntry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ifolderID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parentID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="entryName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateFileEntryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateFileEntryResult" type="tns:iFolderEntry" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteEntry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ifolderID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="entryID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteEntryResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetEntry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ifolderID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="entryID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEntryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEntryResult" type="tns:iFolderEntry" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEntryByPath">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ifolderID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="entryPath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEntryByPathResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEntryByPathResult" type="tns:iFolderEntry" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEntriesByParent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ifolderID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="entryID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEntriesByParentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEntriesByParentResult" type="tns:ArrayOfIFolderEntry" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfIFolderEntry">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="iFolderEntry" nillable="true" type="tns:iFolderEntry" />
        </s:sequence>
      </s:complexType>
      <s:element name="OpenFileRead">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ifolderID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="entryID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OpenFileReadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OpenFileReadResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OpenFileWrite">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ifolderID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="entryID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="length" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OpenFileWriteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OpenFileWriteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="size" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadFileResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WriteFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="buffer" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WriteFileResponse">
        <s:complexType />
      </s:element>
      <s:element name="CloseFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CloseFileResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetServerSoapIn">
    <wsdl:part name="parameters" element="tns:GetServer" />
  </wsdl:message>
  <wsdl:message name="GetServerSoapOut">
    <wsdl:part name="parameters" element="tns:GetServerResponse" />
  </wsdl:message>
  <wsdl:message name="GetSystemSoapIn">
    <wsdl:part name="parameters" element="tns:GetSystem" />
  </wsdl:message>
  <wsdl:message name="GetSystemSoapOut">
    <wsdl:part name="parameters" element="tns:GetSystemResponse" />
  </wsdl:message>
  <wsdl:message name="CreateiFolderSoapIn">
    <wsdl:part name="parameters" element="tns:CreateiFolder" />
  </wsdl:message>
  <wsdl:message name="CreateiFolderSoapOut">
    <wsdl:part name="parameters" element="tns:CreateiFolderResponse" />
  </wsdl:message>
  <wsdl:message name="GetiFolderSoapIn">
    <wsdl:part name="parameters" element="tns:GetiFolder" />
  </wsdl:message>
  <wsdl:message name="GetiFolderSoapOut">
    <wsdl:part name="parameters" element="tns:GetiFolderResponse" />
  </wsdl:message>
  <wsdl:message name="GetiFolderByNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetiFolderByName" />
  </wsdl:message>
  <wsdl:message name="GetiFolderByNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetiFolderByNameResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteiFolderSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteiFolder" />
  </wsdl:message>
  <wsdl:message name="DeleteiFolderSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteiFolderResponse" />
  </wsdl:message>
  <wsdl:message name="GetiFoldersSoapIn">
    <wsdl:part name="parameters" element="tns:GetiFolders" />
  </wsdl:message>
  <wsdl:message name="GetiFoldersSoapOut">
    <wsdl:part name="parameters" element="tns:GetiFoldersResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="GetUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetMembersSoapIn">
    <wsdl:part name="parameters" element="tns:GetMembers" />
  </wsdl:message>
  <wsdl:message name="GetMembersSoapOut">
    <wsdl:part name="parameters" element="tns:GetMembersResponse" />
  </wsdl:message>
  <wsdl:message name="CreateDirectoryEntrySoapIn">
    <wsdl:part name="parameters" element="tns:CreateDirectoryEntry" />
  </wsdl:message>
  <wsdl:message name="CreateDirectoryEntrySoapOut">
    <wsdl:part name="parameters" element="tns:CreateDirectoryEntryResponse" />
  </wsdl:message>
  <wsdl:message name="CreateFileEntrySoapIn">
    <wsdl:part name="parameters" element="tns:CreateFileEntry" />
  </wsdl:message>
  <wsdl:message name="CreateFileEntrySoapOut">
    <wsdl:part name="parameters" element="tns:CreateFileEntryResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteEntrySoapIn">
    <wsdl:part name="parameters" element="tns:DeleteEntry" />
  </wsdl:message>
  <wsdl:message name="DeleteEntrySoapOut">
    <wsdl:part name="parameters" element="tns:DeleteEntryResponse" />
  </wsdl:message>
  <wsdl:message name="GetEntrySoapIn">
    <wsdl:part name="parameters" element="tns:GetEntry" />
  </wsdl:message>
  <wsdl:message name="GetEntrySoapOut">
    <wsdl:part name="parameters" element="tns:GetEntryResponse" />
  </wsdl:message>
  <wsdl:message name="GetEntryByPathSoapIn">
    <wsdl:part name="parameters" element="tns:GetEntryByPath" />
  </wsdl:message>
  <wsdl:message name="GetEntryByPathSoapOut">
    <wsdl:part name="parameters" element="tns:GetEntryByPathResponse" />
  </wsdl:message>
  <wsdl:message name="GetEntriesByParentSoapIn">
    <wsdl:part name="parameters" element="tns:GetEntriesByParent" />
  </wsdl:message>
  <wsdl:message name="GetEntriesByParentSoapOut">
    <wsdl:part name="parameters" element="tns:GetEntriesByParentResponse" />
  </wsdl:message>
  <wsdl:message name="OpenFileReadSoapIn">
    <wsdl:part name="parameters" element="tns:OpenFileRead" />
  </wsdl:message>
  <wsdl:message name="OpenFileReadSoapOut">
    <wsdl:part name="parameters" element="tns:OpenFileReadResponse" />
  </wsdl:message>
  <wsdl:message name="OpenFileWriteSoapIn">
    <wsdl:part name="parameters" element="tns:OpenFileWrite" />
  </wsdl:message>
  <wsdl:message name="OpenFileWriteSoapOut">
    <wsdl:part name="parameters" element="tns:OpenFileWriteResponse" />
  </wsdl:message>
  <wsdl:message name="ReadFileSoapIn">
    <wsdl:part name="parameters" element="tns:ReadFile" />
  </wsdl:message>
  <wsdl:message name="ReadFileSoapOut">
    <wsdl:part name="parameters" element="tns:ReadFileResponse" />
  </wsdl:message>
  <wsdl:message name="WriteFileSoapIn">
    <wsdl:part name="parameters" element="tns:WriteFile" />
  </wsdl:message>
  <wsdl:message name="WriteFileSoapOut">
    <wsdl:part name="parameters" element="tns:WriteFileResponse" />
  </wsdl:message>
  <wsdl:message name="CloseFileSoapIn">
    <wsdl:part name="parameters" element="tns:CloseFile" />
  </wsdl:message>
  <wsdl:message name="CloseFileSoapOut">
    <wsdl:part name="parameters" element="tns:CloseFileResponse" />
  </wsdl:message>
  <wsdl:portType name="iFolderWebSoap">
    <wsdl:operation name="GetServer">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get iFolder Server Information</documentation>
      <wsdl:input message="tns:GetServerSoapIn" />
      <wsdl:output message="tns:GetServerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSystem">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get iFolder System Information</documentation>
      <wsdl:input message="tns:GetSystemSoapIn" />
      <wsdl:output message="tns:GetSystemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateiFolder">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Create a New iFolder</documentation>
      <wsdl:input message="tns:CreateiFolderSoapIn" />
      <wsdl:output message="tns:CreateiFolderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetiFolder">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get An iFolder</documentation>
      <wsdl:input message="tns:GetiFolderSoapIn" />
      <wsdl:output message="tns:GetiFolderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetiFolderByName">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get An iFolder</documentation>
      <wsdl:input message="tns:GetiFolderByNameSoapIn" />
      <wsdl:output message="tns:GetiFolderByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteiFolder">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Delete An iFolder</documentation>
      <wsdl:input message="tns:DeleteiFolderSoapIn" />
      <wsdl:output message="tns:DeleteiFolderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetiFolders">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get iFolders</documentation>
      <wsdl:input message="tns:GetiFoldersSoapIn" />
      <wsdl:output message="tns:GetiFoldersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get the Authenticated User</documentation>
      <wsdl:input message="tns:GetUserSoapIn" />
      <wsdl:output message="tns:GetUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMembers">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get the Members of an iFolder</documentation>
      <wsdl:input message="tns:GetMembersSoapIn" />
      <wsdl:output message="tns:GetMembersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateDirectoryEntry">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Create An iFolder Directory Entry</documentation>
      <wsdl:input message="tns:CreateDirectoryEntrySoapIn" />
      <wsdl:output message="tns:CreateDirectoryEntrySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateFileEntry">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Create An iFolder File Entry</documentation>
      <wsdl:input message="tns:CreateFileEntrySoapIn" />
      <wsdl:output message="tns:CreateFileEntrySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEntry">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Delete An iFolder Entry</documentation>
      <wsdl:input message="tns:DeleteEntrySoapIn" />
      <wsdl:output message="tns:DeleteEntrySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEntry">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get An iFolder Entry</documentation>
      <wsdl:input message="tns:GetEntrySoapIn" />
      <wsdl:output message="tns:GetEntrySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEntryByPath">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get An iFolder Entry</documentation>
      <wsdl:input message="tns:GetEntryByPathSoapIn" />
      <wsdl:output message="tns:GetEntryByPathSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEntriesByParent">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get iFolders Entries by Parent</documentation>
      <wsdl:input message="tns:GetEntriesByParentSoapIn" />
      <wsdl:output message="tns:GetEntriesByParentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OpenFileRead">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Open An iFolder File For Reading</documentation>
      <wsdl:input message="tns:OpenFileReadSoapIn" />
      <wsdl:output message="tns:OpenFileReadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OpenFileWrite">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Open An iFolder File For Writing</documentation>
      <wsdl:input message="tns:OpenFileWriteSoapIn" />
      <wsdl:output message="tns:OpenFileWriteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadFile">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Read From An iFolder File</documentation>
      <wsdl:input message="tns:ReadFileSoapIn" />
      <wsdl:output message="tns:ReadFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WriteFile">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Write To An iFolder File</documentation>
      <wsdl:input message="tns:WriteFileSoapIn" />
      <wsdl:output message="tns:WriteFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CloseFile">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Close An iFolder File</documentation>
      <wsdl:input message="tns:CloseFileSoapIn" />
      <wsdl:output message="tns:CloseFileSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="iFolderWebSoap" type="tns:iFolderWebSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="GetServer">
      <soap:operation soapAction="http://novell.com/ifolder/web/GetServer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSystem">
      <soap:operation soapAction="http://novell.com/ifolder/web/GetSystem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateiFolder">
      <soap:operation soapAction="http://novell.com/ifolder/web/CreateiFolder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetiFolder">
      <soap:operation soapAction="http://novell.com/ifolder/web/GetiFolder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetiFolderByName">
      <soap:operation soapAction="http://novell.com/ifolder/web/GetiFolderByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteiFolder">
      <soap:operation soapAction="http://novell.com/ifolder/web/DeleteiFolder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetiFolders">
      <soap:operation soapAction="http://novell.com/ifolder/web/GetiFolders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://novell.com/ifolder/web/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMembers">
      <soap:operation soapAction="http://novell.com/ifolder/web/GetMembers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDirectoryEntry">
      <soap:operation soapAction="http://novell.com/ifolder/web/CreateDirectoryEntry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateFileEntry">
      <soap:operation soapAction="http://novell.com/ifolder/web/CreateFileEntry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEntry">
      <soap:operation soapAction="http://novell.com/ifolder/web/DeleteEntry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEntry">
      <soap:operation soapAction="http://novell.com/ifolder/web/GetEntry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEntryByPath">
      <soap:operation soapAction="http://novell.com/ifolder/web/GetEntryByPath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEntriesByParent">
      <soap:operation soapAction="http://novell.com/ifolder/web/GetEntriesByParent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpenFileRead">
      <soap:operation soapAction="http://novell.com/ifolder/web/OpenFileRead" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpenFileWrite">
      <soap:operation soapAction="http://novell.com/ifolder/web/OpenFileWrite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadFile">
      <soap:operation soapAction="http://novell.com/ifolder/web/ReadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteFile">
      <soap:operation soapAction="http://novell.com/ifolder/web/WriteFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseFile">
      <soap:operation soapAction="http://novell.com/ifolder/web/CloseFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="iFolderWeb">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">iFolder Web Web Service</documentation>
    <wsdl:port name="iFolderWebSoap" binding="tns:iFolderWebSoap">
      <soap:address location="http://127.0.0.1:8086/simias10/iFolderWeb.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>