src/webservices/iFolderAdmin.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://novell.com/ifolder/webservice/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://novell.com/ifolder/webservice/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://novell.com/ifolder/webservice/">
      <s:element name="GetServer">
        <s:complexType />
      </s:element>
      <s:element name="GetServerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServerResult" type="tns:iFolderServer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="iFolderServer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Version" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HostName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MachineName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OSVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSystem">
        <s:complexType />
      </s:element>
      <s:element name="GetSystemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSystemResult" type="tns:iFolderSystem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="iFolderSystem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Version" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateiFolder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateiFolderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateiFolderResult" type="tns:iFolder" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="iFolder">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OwnerID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OwnerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Domain" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ManagedPath" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UnManagedPath" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Size" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="Rights" type="tns:Rights" />
          <s:element minOccurs="1" maxOccurs="1" name="LastModified" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Published" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="Rights">
        <s:restriction base="s:string">
          <s:enumeration value="Deny" />
          <s:enumeration value="ReadOnly" />
          <s:enumeration value="ReadWrite" />
          <s:enumeration value="Admin" />
        </s:restriction>
      </s:simpleType>
      <s:element name="DeleteiFolder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ifolderID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteiFolderResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetiFolder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ifolderID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetiFolderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetiFolderResult" type="tns:iFolder" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetiFolderDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ifolderID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetiFolderDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetiFolderDetailsResult" type="tns:iFolderDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="iFolderDetails">
        <s:complexContent mixed="false">
          <s:extension base="tns:iFolder">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="MemberCount" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="FileCount" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="DirectoryCount" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="SetiFolderDescription">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ifolderID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetiFolderDescriptionResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetiFolders">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="type" type="tns:iFolderType" />
            <s:element minOccurs="1" maxOccurs="1" name="index" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="iFolderType">
        <s:restriction base="s:string">
          <s:enumeration value="All" />
          <s:enumeration value="Orphaned" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetiFoldersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetiFoldersResult" type="tns:ArrayOfIFolder" />
            <s:element minOccurs="1" maxOccurs="1" name="total" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfIFolder">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="iFolder" nillable="true" type="tns:iFolder" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetiFoldersByMember">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="role" type="tns:MemberRole" />
            <s:element minOccurs="1" maxOccurs="1" name="index" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="MemberRole">
        <s:restriction base="s:string">
          <s:enumeration value="Any" />
          <s:enumeration value="Owner" />
          <s:enumeration value="Shared" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetiFoldersByMemberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetiFoldersByMemberResult" type="tns:ArrayOfIFolder" />
            <s:element minOccurs="1" maxOccurs="1" name="total" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetiFoldersByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="operation" type="tns:SearchOperation" />
            <s:element minOccurs="0" maxOccurs="1" name="pattern" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="index" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="SearchOperation">
        <s:restriction base="s:string">
          <s:enumeration value="BeginsWith" />
          <s:enumeration value="EndsWith" />
          <s:enumeration value="Contains" />
          <s:enumeration value="Equals" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetiFoldersByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetiFoldersByNameResult" type="tns:ArrayOfIFolder" />
            <s:element minOccurs="1" maxOccurs="1" name="total" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChanges">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ifolderID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="entryID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="index" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChangesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetChangesResult" type="tns:ArrayOfChangeEntry" />
            <s:element minOccurs="1" maxOccurs="1" name="total" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfChangeEntry">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ChangeEntry" nillable="true" type="tns:ChangeEntry" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ChangeEntry">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Time" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:ChangeType" />
          <s:element minOccurs="0" maxOccurs="1" name="EntryID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EntryName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserFullName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsDirectory" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ChangeType">
        <s:restriction base="s:string">
          <s:enumeration value="Add" />
          <s:enumeration value="Modify" />
          <s:enumeration value="Delete" />
          <s:enumeration value="Unknown" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetAuthenticatedUser">
        <s:complexType />
      </s:element>
      <s:element name="GetAuthenticatedUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAuthenticatedUserResult" type="tns:iFolderUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="iFolderUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FullName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Rights" type="tns:Rights" />
          <s:element minOccurs="1" maxOccurs="1" name="Enabled" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsAdmin" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="SetMemberRights">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ifolderID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="rights" type="tns:Rights" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetMemberRightsResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddMember">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ifolderID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="rights" type="tns:Rights" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddMemberResponse">
        <s:complexType />
      </s:element>
      <s:element name="RemoveMember">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ifolderID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveMemberResponse">
        <s:complexType />
      </s:element>
      <s:element name="SetiFolderOwner">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ifolderID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetiFolderOwnerResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetMembers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ifolderID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="index" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMembersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMembersResult" type="tns:ArrayOfIFolderUser" />
            <s:element minOccurs="1" maxOccurs="1" name="total" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfIFolderUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="iFolderUser" nillable="true" type="tns:iFolderUser" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="index" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUsersResult" type="tns:ArrayOfIFolderUser" />
            <s:element minOccurs="1" maxOccurs="1" name="total" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserResult" type="tns:iFolderUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserDetailsResult" type="tns:iFolderUserDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="iFolderUserDetails">
        <s:complexContent mixed="false">
          <s:extension base="tns:iFolderUser">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="SyncIntervalEffective" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="LastLogin" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="LdapContext" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="OwnediFolderCount" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="SharediFolderCount" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetUsersBySearch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="property" type="tns:SearchProperty" />
            <s:element minOccurs="1" maxOccurs="1" name="operation" type="tns:SearchOperation" />
            <s:element minOccurs="0" maxOccurs="1" name="pattern" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="index" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="SearchProperty">
        <s:restriction base="s:string">
          <s:enumeration value="UserName" />
          <s:enumeration value="Name" />
          <s:enumeration value="LastName" />
          <s:enumeration value="FirstName" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetUsersBySearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUsersBySearchResult" type="tns:ArrayOfIFolderUser" />
            <s:element minOccurs="1" maxOccurs="1" name="total" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAdministrator">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAdministratorResponse">
        <s:complexType />
      </s:element>
      <s:element name="RemoveAdministrator">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveAdministratorResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetAdministrators">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="index" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAdministratorsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAdministratorsResult" type="tns:ArrayOfIFolderUser" />
            <s:element minOccurs="1" maxOccurs="1" name="total" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSystemPolicy">
        <s:complexType />
      </s:element>
      <s:element name="GetSystemPolicyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSystemPolicyResult" type="tns:SystemPolicy" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SystemPolicy">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SpaceLimitUser" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="SyncInterval" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FileSizeLimit" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="FileTypesIncludes" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="FileTypesExcludes" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SetSystemPolicy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="props" type="tns:SystemPolicy" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSystemPolicyResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetUserPolicy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserPolicyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserPolicyResult" type="tns:UserPolicy" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserPolicy">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LoginEnabled" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="SpaceLimit" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="SpaceLimitEffective" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="FileSizeLimit" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="FileSizeLimitEffective" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="SpaceUsed" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="SpaceAvailable" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="SyncInterval" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SyncIntervalEffective" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FileTypesIncludes" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="FileTypesIncludesEffective" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="FileTypesExcludes" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="FileTypesExcludesEffective" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:element name="SetUserPolicy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="props" type="tns:UserPolicy" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetUserPolicyResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetiFolderPolicy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ifolderID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetiFolderPolicyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetiFolderPolicyResult" type="tns:iFolderPolicy" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="iFolderPolicy">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="iFolderID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Locked" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="SpaceLimit" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="SpaceLimitEffective" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="SpaceUsed" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="SpaceAvailable" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="SyncInterval" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FileTypesIncludes" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="FileTypesExcludes" type="tns:ArrayOfString" />
          <s:element minOccurs="1" maxOccurs="1" name="FileSizeLimit" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="SetiFolderPolicy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="props" type="tns:iFolderPolicy" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetiFolderPolicyResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetIdentityPolicy">
        <s:complexType />
      </s:element>
      <s:element name="GetIdentityPolicyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIdentityPolicyResult" type="tns:IdentityPolicy" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="IdentityPolicy">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ExternalIdentities" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="CanCreate" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="CanDelete" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="CanModify" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserGuid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FullName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DistinguishedName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateUserResult" type="tns:RegistrationInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RegistrationInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="tns:RegistrationStatus" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGuid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DistinguishedName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SuggestedNames" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="RegistrationStatus">
        <s:restriction base="s:string">
          <s:enumeration value="UserCreated" />
          <s:enumeration value="UserAlreadyExists" />
          <s:enumeration value="InvalidParameters" />
          <s:enumeration value="InvalidDomain" />
          <s:enumeration value="UsernamePolicyException" />
          <s:enumeration value="PasswordPolicyException" />
          <s:enumeration value="NoRegisteredUserProvider" />
          <s:enumeration value="MethodNotSupported" />
          <s:enumeration value="InternalException" />
        </s:restriction>
      </s:simpleType>
      <s:element name="DeleteUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetServerSoapIn">
    <wsdl:part name="parameters" element="tns:GetServer" />
  </wsdl:message>
  <wsdl:message name="GetServerSoapOut">
    <wsdl:part name="parameters" element="tns:GetServerResponse" />
  </wsdl:message>
  <wsdl:message name="GetSystemSoapIn">
    <wsdl:part name="parameters" element="tns:GetSystem" />
  </wsdl:message>
  <wsdl:message name="GetSystemSoapOut">
    <wsdl:part name="parameters" element="tns:GetSystemResponse" />
  </wsdl:message>
  <wsdl:message name="CreateiFolderSoapIn">
    <wsdl:part name="parameters" element="tns:CreateiFolder" />
  </wsdl:message>
  <wsdl:message name="CreateiFolderSoapOut">
    <wsdl:part name="parameters" element="tns:CreateiFolderResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteiFolderSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteiFolder" />
  </wsdl:message>
  <wsdl:message name="DeleteiFolderSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteiFolderResponse" />
  </wsdl:message>
  <wsdl:message name="GetiFolderSoapIn">
    <wsdl:part name="parameters" element="tns:GetiFolder" />
  </wsdl:message>
  <wsdl:message name="GetiFolderSoapOut">
    <wsdl:part name="parameters" element="tns:GetiFolderResponse" />
  </wsdl:message>
  <wsdl:message name="GetiFolderDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetiFolderDetails" />
  </wsdl:message>
  <wsdl:message name="GetiFolderDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetiFolderDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="SetiFolderDescriptionSoapIn">
    <wsdl:part name="parameters" element="tns:SetiFolderDescription" />
  </wsdl:message>
  <wsdl:message name="SetiFolderDescriptionSoapOut">
    <wsdl:part name="parameters" element="tns:SetiFolderDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="GetiFoldersSoapIn">
    <wsdl:part name="parameters" element="tns:GetiFolders" />
  </wsdl:message>
  <wsdl:message name="GetiFoldersSoapOut">
    <wsdl:part name="parameters" element="tns:GetiFoldersResponse" />
  </wsdl:message>
  <wsdl:message name="GetiFoldersByMemberSoapIn">
    <wsdl:part name="parameters" element="tns:GetiFoldersByMember" />
  </wsdl:message>
  <wsdl:message name="GetiFoldersByMemberSoapOut">
    <wsdl:part name="parameters" element="tns:GetiFoldersByMemberResponse" />
  </wsdl:message>
  <wsdl:message name="GetiFoldersByNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetiFoldersByName" />
  </wsdl:message>
  <wsdl:message name="GetiFoldersByNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetiFoldersByNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetChangesSoapIn">
    <wsdl:part name="parameters" element="tns:GetChanges" />
  </wsdl:message>
  <wsdl:message name="GetChangesSoapOut">
    <wsdl:part name="parameters" element="tns:GetChangesResponse" />
  </wsdl:message>
  <wsdl:message name="GetAuthenticatedUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetAuthenticatedUser" />
  </wsdl:message>
  <wsdl:message name="GetAuthenticatedUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetAuthenticatedUserResponse" />
  </wsdl:message>
  <wsdl:message name="SetMemberRightsSoapIn">
    <wsdl:part name="parameters" element="tns:SetMemberRights" />
  </wsdl:message>
  <wsdl:message name="SetMemberRightsSoapOut">
    <wsdl:part name="parameters" element="tns:SetMemberRightsResponse" />
  </wsdl:message>
  <wsdl:message name="AddMemberSoapIn">
    <wsdl:part name="parameters" element="tns:AddMember" />
  </wsdl:message>
  <wsdl:message name="AddMemberSoapOut">
    <wsdl:part name="parameters" element="tns:AddMemberResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveMemberSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveMember" />
  </wsdl:message>
  <wsdl:message name="RemoveMemberSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveMemberResponse" />
  </wsdl:message>
  <wsdl:message name="SetiFolderOwnerSoapIn">
    <wsdl:part name="parameters" element="tns:SetiFolderOwner" />
  </wsdl:message>
  <wsdl:message name="SetiFolderOwnerSoapOut">
    <wsdl:part name="parameters" element="tns:SetiFolderOwnerResponse" />
  </wsdl:message>
  <wsdl:message name="GetMembersSoapIn">
    <wsdl:part name="parameters" element="tns:GetMembers" />
  </wsdl:message>
  <wsdl:message name="GetMembersSoapOut">
    <wsdl:part name="parameters" element="tns:GetMembersResponse" />
  </wsdl:message>
  <wsdl:message name="GetUsersSoapIn">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="GetUsersSoapOut">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="GetUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserDetails" />
  </wsdl:message>
  <wsdl:message name="GetUserDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetUsersBySearchSoapIn">
    <wsdl:part name="parameters" element="tns:GetUsersBySearch" />
  </wsdl:message>
  <wsdl:message name="GetUsersBySearchSoapOut">
    <wsdl:part name="parameters" element="tns:GetUsersBySearchResponse" />
  </wsdl:message>
  <wsdl:message name="AddAdministratorSoapIn">
    <wsdl:part name="parameters" element="tns:AddAdministrator" />
  </wsdl:message>
  <wsdl:message name="AddAdministratorSoapOut">
    <wsdl:part name="parameters" element="tns:AddAdministratorResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveAdministratorSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveAdministrator" />
  </wsdl:message>
  <wsdl:message name="RemoveAdministratorSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveAdministratorResponse" />
  </wsdl:message>
  <wsdl:message name="GetAdministratorsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAdministrators" />
  </wsdl:message>
  <wsdl:message name="GetAdministratorsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAdministratorsResponse" />
  </wsdl:message>
  <wsdl:message name="GetSystemPolicySoapIn">
    <wsdl:part name="parameters" element="tns:GetSystemPolicy" />
  </wsdl:message>
  <wsdl:message name="GetSystemPolicySoapOut">
    <wsdl:part name="parameters" element="tns:GetSystemPolicyResponse" />
  </wsdl:message>
  <wsdl:message name="SetSystemPolicySoapIn">
    <wsdl:part name="parameters" element="tns:SetSystemPolicy" />
  </wsdl:message>
  <wsdl:message name="SetSystemPolicySoapOut">
    <wsdl:part name="parameters" element="tns:SetSystemPolicyResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserPolicySoapIn">
    <wsdl:part name="parameters" element="tns:GetUserPolicy" />
  </wsdl:message>
  <wsdl:message name="GetUserPolicySoapOut">
    <wsdl:part name="parameters" element="tns:GetUserPolicyResponse" />
  </wsdl:message>
  <wsdl:message name="SetUserPolicySoapIn">
    <wsdl:part name="parameters" element="tns:SetUserPolicy" />
  </wsdl:message>
  <wsdl:message name="SetUserPolicySoapOut">
    <wsdl:part name="parameters" element="tns:SetUserPolicyResponse" />
  </wsdl:message>
  <wsdl:message name="GetiFolderPolicySoapIn">
    <wsdl:part name="parameters" element="tns:GetiFolderPolicy" />
  </wsdl:message>
  <wsdl:message name="GetiFolderPolicySoapOut">
    <wsdl:part name="parameters" element="tns:GetiFolderPolicyResponse" />
  </wsdl:message>
  <wsdl:message name="SetiFolderPolicySoapIn">
    <wsdl:part name="parameters" element="tns:SetiFolderPolicy" />
  </wsdl:message>
  <wsdl:message name="SetiFolderPolicySoapOut">
    <wsdl:part name="parameters" element="tns:SetiFolderPolicyResponse" />
  </wsdl:message>
  <wsdl:message name="GetIdentityPolicySoapIn">
    <wsdl:part name="parameters" element="tns:GetIdentityPolicy" />
  </wsdl:message>
  <wsdl:message name="GetIdentityPolicySoapOut">
    <wsdl:part name="parameters" element="tns:GetIdentityPolicyResponse" />
  </wsdl:message>
  <wsdl:message name="CreateUserSoapIn">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="CreateUserSoapOut">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteUserSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="DeleteUserSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:portType name="iFolderAdminSoap">
    <wsdl:operation name="GetServer">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get iFolder Server Information</documentation>
      <wsdl:input message="tns:GetServerSoapIn" />
      <wsdl:output message="tns:GetServerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSystem">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get iFolder System Information</documentation>
      <wsdl:input message="tns:GetSystemSoapIn" />
      <wsdl:output message="tns:GetSystemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateiFolder">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Create a New iFolder</documentation>
      <wsdl:input message="tns:CreateiFolderSoapIn" />
      <wsdl:output message="tns:CreateiFolderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteiFolder">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Delete an iFolder</documentation>
      <wsdl:input message="tns:DeleteiFolderSoapIn" />
      <wsdl:output message="tns:DeleteiFolderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetiFolder">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get an iFolder</documentation>
      <wsdl:input message="tns:GetiFolderSoapIn" />
      <wsdl:output message="tns:GetiFolderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetiFolderDetails">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get iFolder Details</documentation>
      <wsdl:input message="tns:GetiFolderDetailsSoapIn" />
      <wsdl:output message="tns:GetiFolderDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetiFolderDescription">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Set the Description of an iFolder</documentation>
      <wsdl:input message="tns:SetiFolderDescriptionSoapIn" />
      <wsdl:output message="tns:SetiFolderDescriptionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetiFolders">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get iFolders</documentation>
      <wsdl:input message="tns:GetiFoldersSoapIn" />
      <wsdl:output message="tns:GetiFoldersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetiFoldersByMember">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get iFolders by Member</documentation>
      <wsdl:input message="tns:GetiFoldersByMemberSoapIn" />
      <wsdl:output message="tns:GetiFoldersByMemberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetiFoldersByName">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get iFolders by Name</documentation>
      <wsdl:input message="tns:GetiFoldersByNameSoapIn" />
      <wsdl:output message="tns:GetiFoldersByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetChanges">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get Changes</documentation>
      <wsdl:input message="tns:GetChangesSoapIn" />
      <wsdl:output message="tns:GetChangesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthenticatedUser">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get the Authenticated User</documentation>
      <wsdl:input message="tns:GetAuthenticatedUserSoapIn" />
      <wsdl:output message="tns:GetAuthenticatedUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetMemberRights">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Set the Rights of an iFolder Member</documentation>
      <wsdl:input message="tns:SetMemberRightsSoapIn" />
      <wsdl:output message="tns:SetMemberRightsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddMember">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Add a Member to an iFolder</documentation>
      <wsdl:input message="tns:AddMemberSoapIn" />
      <wsdl:output message="tns:AddMemberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveMember">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Remove a Member from an iFolder</documentation>
      <wsdl:input message="tns:RemoveMemberSoapIn" />
      <wsdl:output message="tns:RemoveMemberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetiFolderOwner">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Set the Owner of an iFolder</documentation>
      <wsdl:input message="tns:SetiFolderOwnerSoapIn" />
      <wsdl:output message="tns:SetiFolderOwnerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMembers">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get the Members of an iFolder</documentation>
      <wsdl:input message="tns:GetMembersSoapIn" />
      <wsdl:output message="tns:GetMembersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get the iFolder Users</documentation>
      <wsdl:input message="tns:GetUsersSoapIn" />
      <wsdl:output message="tns:GetUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get a User</documentation>
      <wsdl:input message="tns:GetUserSoapIn" />
      <wsdl:output message="tns:GetUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserDetails">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get User Details</documentation>
      <wsdl:input message="tns:GetUserDetailsSoapIn" />
      <wsdl:output message="tns:GetUserDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersBySearch">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Search the Users of the iFolder System</documentation>
      <wsdl:input message="tns:GetUsersBySearchSoapIn" />
      <wsdl:output message="tns:GetUsersBySearchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddAdministrator">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Give a User Administration Rights</documentation>
      <wsdl:input message="tns:AddAdministratorSoapIn" />
      <wsdl:output message="tns:AddAdministratorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveAdministrator">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Remove Administration Rights from a User</documentation>
      <wsdl:input message="tns:RemoveAdministratorSoapIn" />
      <wsdl:output message="tns:RemoveAdministratorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAdministrators">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get all the Administrators</documentation>
      <wsdl:input message="tns:GetAdministratorsSoapIn" />
      <wsdl:output message="tns:GetAdministratorsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSystemPolicy">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get the System Policy</documentation>
      <wsdl:input message="tns:GetSystemPolicySoapIn" />
      <wsdl:output message="tns:GetSystemPolicySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSystemPolicy">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Set the System Policy</documentation>
      <wsdl:input message="tns:SetSystemPolicySoapIn" />
      <wsdl:output message="tns:SetSystemPolicySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserPolicy">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get User Policy</documentation>
      <wsdl:input message="tns:GetUserPolicySoapIn" />
      <wsdl:output message="tns:GetUserPolicySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetUserPolicy">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Set User Policy</documentation>
      <wsdl:input message="tns:SetUserPolicySoapIn" />
      <wsdl:output message="tns:SetUserPolicySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetiFolderPolicy">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get iFolder Policy</documentation>
      <wsdl:input message="tns:GetiFolderPolicySoapIn" />
      <wsdl:output message="tns:GetiFolderPolicySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetiFolderPolicy">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Set iFolder Policy</documentation>
      <wsdl:input message="tns:SetiFolderPolicySoapIn" />
      <wsdl:output message="tns:SetiFolderPolicySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIdentityPolicy">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get the policy of the registered identity provider</documentation>
      <wsdl:input message="tns:GetIdentityPolicySoapIn" />
      <wsdl:output message="tns:GetIdentityPolicySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method to create a new user in the Simias domain</documentation>
      <wsdl:input message="tns:CreateUserSoapIn" />
      <wsdl:output message="tns:CreateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Method to delete a user from the Simias domain</documentation>
      <wsdl:input message="tns:DeleteUserSoapIn" />
      <wsdl:output message="tns:DeleteUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="iFolderAdminSoap" type="tns:iFolderAdminSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="GetServer">
      <soap:operation soapAction="http://novell.com/ifolder/webservice/GetServer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSystem">
      <soap:operation soapAction="http://novell.com/ifolder/webservice/GetSystem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateiFolder">
      <soap:operation soapAction="http://novell.com/ifolder/webservice/CreateiFolder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteiFolder">
      <soap:operation soapAction="http://novell.com/ifolder/webservice/DeleteiFolder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetiFolder">
      <soap:operation soapAction="http://novell.com/ifolder/webservice/GetiFolder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetiFolderDetails">
      <soap:operation soapAction="http://novell.com/ifolder/webservice/GetiFolderDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetiFolderDescription">
      <soap:operation soapAction="http://novell.com/ifolder/webservice/SetiFolderDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetiFolders">
      <soap:operation soapAction="http://novell.com/ifolder/webservice/GetiFolders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetiFoldersByMember">
      <soap:operation soapAction="http://novell.com/ifolder/webservice/GetiFoldersByMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetiFoldersByName">
      <soap:operation soapAction="http://novell.com/ifolder/webservice/GetiFoldersByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChanges">
      <soap:operation soapAction="http://novell.com/ifolder/webservice/GetChanges" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthenticatedUser">
      <soap:operation soapAction="http://novell.com/ifolder/webservice/GetAuthenticatedUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMemberRights">
      <soap:operation soapAction="http://novell.com/ifolder/webservice/SetMemberRights" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMember">
      <soap:operation soapAction="http://novell.com/ifolder/webservice/AddMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveMember">
      <soap:operation soapAction="http://novell.com/ifolder/webservice/RemoveMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetiFolderOwner">
      <soap:operation soapAction="http://novell.com/ifolder/webservice/SetiFolderOwner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMembers">
      <soap:operation soapAction="http://novell.com/ifolder/webservice/GetMembers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://novell.com/ifolder/webservice/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://novell.com/ifolder/webservice/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserDetails">
      <soap:operation soapAction="http://novell.com/ifolder/webservice/GetUserDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersBySearch">
      <soap:operation soapAction="http://novell.com/ifolder/webservice/GetUsersBySearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAdministrator">
      <soap:operation soapAction="http://novell.com/ifolder/webservice/AddAdministrator" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveAdministrator">
      <soap:operation soapAction="http://novell.com/ifolder/webservice/RemoveAdministrator" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdministrators">
      <soap:operation soapAction="http://novell.com/ifolder/webservice/GetAdministrators" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSystemPolicy">
      <soap:operation soapAction="http://novell.com/ifolder/webservice/GetSystemPolicy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSystemPolicy">
      <soap:operation soapAction="http://novell.com/ifolder/webservice/SetSystemPolicy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserPolicy">
      <soap:operation soapAction="http://novell.com/ifolder/webservice/GetUserPolicy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserPolicy">
      <soap:operation soapAction="http://novell.com/ifolder/webservice/SetUserPolicy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetiFolderPolicy">
      <soap:operation soapAction="http://novell.com/ifolder/webservice/GetiFolderPolicy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetiFolderPolicy">
      <soap:operation soapAction="http://novell.com/ifolder/webservice/SetiFolderPolicy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIdentityPolicy">
      <soap:operation soapAction="http://novell.com/ifolder/webservice/GetIdentityPolicy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://novell.com/ifolder/webservice/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://novell.com/ifolder/webservice/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="iFolderAdmin">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">iFolder Admin Web Service</documentation>
    <wsdl:port name="iFolderAdminSoap" binding="tns:iFolderAdminSoap">
      <soap:address location="http://localhost:8086/simias10/iFolderAdmin.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>