src/server/Simias.ClientUpdate/ClientUpdate.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s0="http://novell.com/ifolder/web/" name="ClientUpdate" targetNamespace="http://novell.com/ifolder/web/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns:tns="http://novell.com/ifolder/web/encodedTypes" targetNamespace="http://novell.com/ifolder/web/encodedTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xs:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xs:complexType name="ArrayOfString">
        <xs:complexContent mixed="false">
          <xs:restriction base="soapenc:Array">
            <xs:attribute d7p1:arrayType="xs:string[]" ref="soapenc:arrayType" xmlns:d7p1="http://schemas.xmlsoap.org/wsdl/" />
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:simpleType name="StatusCodes">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Success" />
          <xs:enumeration value="SuccessInGrace" />
          <xs:enumeration value="InvalidCertificate" />
          <xs:enumeration value="UnknownUser" />
          <xs:enumeration value="AmbiguousUser" />
          <xs:enumeration value="InvalidCredentials" />
          <xs:enumeration value="InvalidPassword" />
          <xs:enumeration value="AccountDisabled" />
          <xs:enumeration value="AccountLockout" />
          <xs:enumeration value="SimiasLoginDisabled" />
          <xs:enumeration value="UnknownDomain" />
          <xs:enumeration value="InternalException" />
          <xs:enumeration value="MethodNotSupported" />
          <xs:enumeration value="Timeout" />
          <xs:enumeration value="OlderVersion" />
          <xs:enumeration value="ServerOld" />
          <xs:enumeration value="UpgradeNeeded" />
          <xs:enumeration value="PassPhraseNotSet" />
          <xs:enumeration value="PassPhraseInvalid" />
          <xs:enumeration value="UserAlreadyMoved" />
          <xs:enumeration value="Unknown" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://novell.com/ifolder/web/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://novell.com/simias/web/" />
      <xs:element name="GetUpdateFilesSoapDocMethod">
        <xs:complexType />
      </xs:element>
      <xs:complexType name="ArrayOfString">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetUpdateFilesSoapDocMethodResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="GetUpdateFilesSoapDocMethodResult" type="s0:ArrayOfString" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="IsUpdateAvailableActualSoapDocMethod">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="platform" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="currentVersion" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="IsUpdateAvailableActualSoapDocMethodResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="IsUpdateAvailableActualSoapDocMethodResult" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="IsUpdateAvailableSoapDocMethod">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="platform" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="currentVersion" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="IsUpdateAvailableSoapDocMethodResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="IsUpdateAvailableSoapDocMethodResult" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="IsServerOlderSoapDocMethod">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="platform" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="currentVersion" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="IsServerOlderSoapDocMethodResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="IsServerOlderSoapDocMethodResult" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CheckForUpdateSoapDocMethod">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="platform" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="currentVersion" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CheckForUpdateSoapDocMethodResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="CheckForUpdateSoapDocMethodResult" xmlns:q1="http://novell.com/simias/web/" type="q1:StatusCodes" />
            <xs:element minOccurs="0" maxOccurs="1" name="serverVersion" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ArrayOfString" nillable="true" type="s0:ArrayOfString" />
      <xs:element name="string" nillable="true" type="xs:string" />
      <xs:element name="boolean" type="xs:boolean" />
    </xs:schema>
    <xs:schema xmlns:tns="http://novell.com/simias/web/" elementFormDefault="qualified" targetNamespace="http://novell.com/simias/web/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:simpleType name="StatusCodes">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Success" />
          <xs:enumeration value="SuccessInGrace" />
          <xs:enumeration value="InvalidCertificate" />
          <xs:enumeration value="UnknownUser" />
          <xs:enumeration value="AmbiguousUser" />
          <xs:enumeration value="InvalidCredentials" />
          <xs:enumeration value="InvalidPassword" />
          <xs:enumeration value="AccountDisabled" />
          <xs:enumeration value="AccountLockout" />
          <xs:enumeration value="SimiasLoginDisabled" />
          <xs:enumeration value="UnknownDomain" />
          <xs:enumeration value="InternalException" />
          <xs:enumeration value="MethodNotSupported" />
          <xs:enumeration value="Timeout" />
          <xs:enumeration value="OlderVersion" />
          <xs:enumeration value="ServerOld" />
          <xs:enumeration value="UpgradeNeeded" />
          <xs:enumeration value="PassPhraseNotSet" />
          <xs:enumeration value="PassPhraseInvalid" />
          <xs:enumeration value="UserAlreadyMoved" />
          <xs:enumeration value="Unknown" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </types>
  <message name="GetUpdateFilesSoapIn" />
  <message name="GetUpdateFilesSoapOut">
    <part name="GetUpdateFilesResult" xmlns:q1="http://novell.com/ifolder/web/encodedTypes" type="q1:ArrayOfString" />
  </message>
  <message name="GetUpdateFilesSoapDocMethodSoapIn">
    <part element="s0:GetUpdateFilesSoapDocMethod" name="parameters" />
  </message>
  <message name="GetUpdateFilesSoapDocMethodSoapOut">
    <part element="s0:GetUpdateFilesSoapDocMethodResponse" name="parameters" />
  </message>
  <message name="IsUpdateAvailableActualSoapIn">
    <part name="platform" type="s:string" />
    <part name="currentVersion" type="s:string" />
  </message>
  <message name="IsUpdateAvailableActualSoapOut">
    <part name="IsUpdateAvailableActualResult" type="s:string" />
  </message>
  <message name="IsUpdateAvailableActualSoapDocMethodSoapIn">
    <part element="s0:IsUpdateAvailableActualSoapDocMethod" name="parameters" />
  </message>
  <message name="IsUpdateAvailableActualSoapDocMethodSoapOut">
    <part element="s0:IsUpdateAvailableActualSoapDocMethodResponse" name="parameters" />
  </message>
  <message name="IsUpdateAvailableSoapIn">
    <part name="platform" type="s:string" />
    <part name="currentVersion" type="s:string" />
  </message>
  <message name="IsUpdateAvailableSoapOut">
    <part name="IsUpdateAvailableResult" type="s:string" />
  </message>
  <message name="IsUpdateAvailableSoapDocMethodSoapIn">
    <part element="s0:IsUpdateAvailableSoapDocMethod" name="parameters" />
  </message>
  <message name="IsUpdateAvailableSoapDocMethodSoapOut">
    <part element="s0:IsUpdateAvailableSoapDocMethodResponse" name="parameters" />
  </message>
  <message name="IsServerOlderSoapIn">
    <part name="platform" type="s:string" />
    <part name="currentVersion" type="s:string" />
  </message>
  <message name="IsServerOlderSoapOut">
    <part name="IsServerOlderResult" type="s:boolean" />
  </message>
  <message name="IsServerOlderSoapDocMethodSoapIn">
    <part element="s0:IsServerOlderSoapDocMethod" name="parameters" />
  </message>
  <message name="IsServerOlderSoapDocMethodSoapOut">
    <part element="s0:IsServerOlderSoapDocMethodResponse" name="parameters" />
  </message>
  <message name="CheckForUpdateSoapIn">
    <part name="platform" type="s:string" />
    <part name="currentVersion" type="s:string" />
  </message>
  <message name="CheckForUpdateSoapOut">
    <part name="CheckForUpdateResult" xmlns:q2="http://novell.com/ifolder/web/encodedTypes" type="q2:StatusCodes" />
    <part name="serverVersion" type="s:string" />
  </message>
  <message name="CheckForUpdateSoapDocMethodSoapIn">
    <part element="s0:CheckForUpdateSoapDocMethod" name="parameters" />
  </message>
  <message name="CheckForUpdateSoapDocMethodSoapOut">
    <part element="s0:CheckForUpdateSoapDocMethodResponse" name="parameters" />
  </message>
  <message name="GetUpdateFilesHttpGetIn" />
  <message name="GetUpdateFilesHttpGetOut">
    <part element="s0:ArrayOfString" name="Body" />
  </message>
  <message name="GetUpdateFilesSoapDocMethodHttpGetIn" />
  <message name="GetUpdateFilesSoapDocMethodHttpGetOut">
    <part element="s0:ArrayOfString" name="Body" />
  </message>
  <message name="IsUpdateAvailableActualHttpGetIn">
    <part name="platform" type="s:string" />
    <part name="currentVersion" type="s:string" />
  </message>
  <message name="IsUpdateAvailableActualHttpGetOut">
    <part element="s0:string" name="Body" />
  </message>
  <message name="IsUpdateAvailableActualSoapDocMethodHttpGetIn">
    <part name="platform" type="s:string" />
    <part name="currentVersion" type="s:string" />
  </message>
  <message name="IsUpdateAvailableActualSoapDocMethodHttpGetOut">
    <part element="s0:string" name="Body" />
  </message>
  <message name="IsUpdateAvailableHttpGetIn">
    <part name="platform" type="s:string" />
    <part name="currentVersion" type="s:string" />
  </message>
  <message name="IsUpdateAvailableHttpGetOut">
    <part element="s0:string" name="Body" />
  </message>
  <message name="IsUpdateAvailableSoapDocMethodHttpGetIn">
    <part name="platform" type="s:string" />
    <part name="currentVersion" type="s:string" />
  </message>
  <message name="IsUpdateAvailableSoapDocMethodHttpGetOut">
    <part element="s0:string" name="Body" />
  </message>
  <message name="IsServerOlderHttpGetIn">
    <part name="platform" type="s:string" />
    <part name="currentVersion" type="s:string" />
  </message>
  <message name="IsServerOlderHttpGetOut">
    <part element="s0:boolean" name="Body" />
  </message>
  <message name="IsServerOlderSoapDocMethodHttpGetIn">
    <part name="platform" type="s:string" />
    <part name="currentVersion" type="s:string" />
  </message>
  <message name="IsServerOlderSoapDocMethodHttpGetOut">
    <part element="s0:boolean" name="Body" />
  </message>
  <message name="GetUpdateFilesHttpPostIn" />
  <message name="GetUpdateFilesHttpPostOut">
    <part element="s0:ArrayOfString" name="Body" />
  </message>
  <message name="GetUpdateFilesSoapDocMethodHttpPostIn" />
  <message name="GetUpdateFilesSoapDocMethodHttpPostOut">
    <part element="s0:ArrayOfString" name="Body" />
  </message>
  <message name="IsUpdateAvailableActualHttpPostIn">
    <part name="platform" type="s:string" />
    <part name="currentVersion" type="s:string" />
  </message>
  <message name="IsUpdateAvailableActualHttpPostOut">
    <part element="s0:string" name="Body" />
  </message>
  <message name="IsUpdateAvailableActualSoapDocMethodHttpPostIn">
    <part name="platform" type="s:string" />
    <part name="currentVersion" type="s:string" />
  </message>
  <message name="IsUpdateAvailableActualSoapDocMethodHttpPostOut">
    <part element="s0:string" name="Body" />
  </message>
  <message name="IsUpdateAvailableHttpPostIn">
    <part name="platform" type="s:string" />
    <part name="currentVersion" type="s:string" />
  </message>
  <message name="IsUpdateAvailableHttpPostOut">
    <part element="s0:string" name="Body" />
  </message>
  <message name="IsUpdateAvailableSoapDocMethodHttpPostIn">
    <part name="platform" type="s:string" />
    <part name="currentVersion" type="s:string" />
  </message>
  <message name="IsUpdateAvailableSoapDocMethodHttpPostOut">
    <part element="s0:string" name="Body" />
  </message>
  <message name="IsServerOlderHttpPostIn">
    <part name="platform" type="s:string" />
    <part name="currentVersion" type="s:string" />
  </message>
  <message name="IsServerOlderHttpPostOut">
    <part element="s0:boolean" name="Body" />
  </message>
  <message name="IsServerOlderSoapDocMethodHttpPostIn">
    <part name="platform" type="s:string" />
    <part name="currentVersion" type="s:string" />
  </message>
  <message name="IsServerOlderSoapDocMethodHttpPostOut">
    <part element="s0:boolean" name="Body" />
  </message>
  <portType name="ClientUpdateSoap">
    <operation name="GetUpdateFiles">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets the update files associated with the specified version.</wsdl:documentation>
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets the update files associated with the specified version.</wsdl:documentation>
      <input message="s0:GetUpdateFilesSoapIn" />
      <output message="s0:GetUpdateFilesSoapOut" />
    </operation>
    <operation name="GetUpdateFilesSoapDocMethod">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets the update files associated with the specified version.</wsdl:documentation>
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets the update files associated with the specified version.</wsdl:documentation>
      <input message="s0:GetUpdateFilesSoapDocMethodSoapIn" />
      <output message="s0:GetUpdateFilesSoapDocMethodSoapOut" />
    </operation>
    <operation name="IsUpdateAvailableActual">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Is Client Update Available</wsdl:documentation>
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Is Client Update Available</wsdl:documentation>
      <input message="s0:IsUpdateAvailableActualSoapIn" />
      <output message="s0:IsUpdateAvailableActualSoapOut" />
    </operation>
    <operation name="IsUpdateAvailableActualSoapDocMethod">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Is Client Update Available</wsdl:documentation>
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Is Client Update Available</wsdl:documentation>
      <input message="s0:IsUpdateAvailableActualSoapDocMethodSoapIn" />
      <output message="s0:IsUpdateAvailableActualSoapDocMethodSoapOut" />
    </operation>
    <operation name="IsUpdateAvailable">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Is Client Update Available</wsdl:documentation>
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Is Client Update Available</wsdl:documentation>
      <input message="s0:IsUpdateAvailableSoapIn" />
      <output message="s0:IsUpdateAvailableSoapOut" />
    </operation>
    <operation name="IsUpdateAvailableSoapDocMethod">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Is Client Update Available</wsdl:documentation>
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Is Client Update Available</wsdl:documentation>
      <input message="s0:IsUpdateAvailableSoapDocMethodSoapIn" />
      <output message="s0:IsUpdateAvailableSoapDocMethodSoapOut" />
    </operation>
    <operation name="IsServerOlder">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Is server older</wsdl:documentation>
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Is server older</wsdl:documentation>
      <input message="s0:IsServerOlderSoapIn" />
      <output message="s0:IsServerOlderSoapOut" />
    </operation>
    <operation name="IsServerOlderSoapDocMethod">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Is server older</wsdl:documentation>
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Is server older</wsdl:documentation>
      <input message="s0:IsServerOlderSoapDocMethodSoapIn" />
      <output message="s0:IsServerOlderSoapDocMethodSoapOut" />
    </operation>
    <operation name="CheckForUpdate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Check for Client Updates and compatibility with server</wsdl:documentation>
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Check for Client Updates and compatibility with server</wsdl:documentation>
      <input message="s0:CheckForUpdateSoapIn" />
      <output message="s0:CheckForUpdateSoapOut" />
    </operation>
    <operation name="CheckForUpdateSoapDocMethod">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Check for Client Updates and compatibility with server</wsdl:documentation>
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Check for Client Updates and compatibility with server</wsdl:documentation>
      <input message="s0:CheckForUpdateSoapDocMethodSoapIn" />
      <output message="s0:CheckForUpdateSoapDocMethodSoapOut" />
    </operation>
  </portType>
  <portType name="ClientUpdateHttpGet">
    <operation name="GetUpdateFiles">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets the update files associated with the specified version.</wsdl:documentation>
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets the update files associated with the specified version.</wsdl:documentation>
      <input message="s0:GetUpdateFilesHttpGetIn" />
      <output message="s0:GetUpdateFilesHttpGetOut" />
    </operation>
    <operation name="GetUpdateFilesSoapDocMethod">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets the update files associated with the specified version.</wsdl:documentation>
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets the update files associated with the specified version.</wsdl:documentation>
      <input message="s0:GetUpdateFilesSoapDocMethodHttpGetIn" />
      <output message="s0:GetUpdateFilesSoapDocMethodHttpGetOut" />
    </operation>
    <operation name="IsUpdateAvailableActual">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Is Client Update Available</wsdl:documentation>
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Is Client Update Available</wsdl:documentation>
      <input message="s0:IsUpdateAvailableActualHttpGetIn" />
      <output message="s0:IsUpdateAvailableActualHttpGetOut" />
    </operation>
    <operation name="IsUpdateAvailableActualSoapDocMethod">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Is Client Update Available</wsdl:documentation>
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Is Client Update Available</wsdl:documentation>
      <input message="s0:IsUpdateAvailableActualSoapDocMethodHttpGetIn" />
      <output message="s0:IsUpdateAvailableActualSoapDocMethodHttpGetOut" />
    </operation>
    <operation name="IsUpdateAvailable">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Is Client Update Available</wsdl:documentation>
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Is Client Update Available</wsdl:documentation>
      <input message="s0:IsUpdateAvailableHttpGetIn" />
      <output message="s0:IsUpdateAvailableHttpGetOut" />
    </operation>
    <operation name="IsUpdateAvailableSoapDocMethod">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Is Client Update Available</wsdl:documentation>
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Is Client Update Available</wsdl:documentation>
      <input message="s0:IsUpdateAvailableSoapDocMethodHttpGetIn" />
      <output message="s0:IsUpdateAvailableSoapDocMethodHttpGetOut" />
    </operation>
    <operation name="IsServerOlder">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Is server older</wsdl:documentation>
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Is server older</wsdl:documentation>
      <input message="s0:IsServerOlderHttpGetIn" />
      <output message="s0:IsServerOlderHttpGetOut" />
    </operation>
    <operation name="IsServerOlderSoapDocMethod">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Is server older</wsdl:documentation>
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Is server older</wsdl:documentation>
      <input message="s0:IsServerOlderSoapDocMethodHttpGetIn" />
      <output message="s0:IsServerOlderSoapDocMethodHttpGetOut" />
    </operation>
  </portType>
  <portType name="ClientUpdateHttpPost">
    <operation name="GetUpdateFiles">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets the update files associated with the specified version.</wsdl:documentation>
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets the update files associated with the specified version.</wsdl:documentation>
      <input message="s0:GetUpdateFilesHttpPostIn" />
      <output message="s0:GetUpdateFilesHttpPostOut" />
    </operation>
    <operation name="GetUpdateFilesSoapDocMethod">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets the update files associated with the specified version.</wsdl:documentation>
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets the update files associated with the specified version.</wsdl:documentation>
      <input message="s0:GetUpdateFilesSoapDocMethodHttpPostIn" />
      <output message="s0:GetUpdateFilesSoapDocMethodHttpPostOut" />
    </operation>
    <operation name="IsUpdateAvailableActual">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Is Client Update Available</wsdl:documentation>
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Is Client Update Available</wsdl:documentation>
      <input message="s0:IsUpdateAvailableActualHttpPostIn" />
      <output message="s0:IsUpdateAvailableActualHttpPostOut" />
    </operation>
    <operation name="IsUpdateAvailableActualSoapDocMethod">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Is Client Update Available</wsdl:documentation>
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Is Client Update Available</wsdl:documentation>
      <input message="s0:IsUpdateAvailableActualSoapDocMethodHttpPostIn" />
      <output message="s0:IsUpdateAvailableActualSoapDocMethodHttpPostOut" />
    </operation>
    <operation name="IsUpdateAvailable">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Is Client Update Available</wsdl:documentation>
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Is Client Update Available</wsdl:documentation>
      <input message="s0:IsUpdateAvailableHttpPostIn" />
      <output message="s0:IsUpdateAvailableHttpPostOut" />
    </operation>
    <operation name="IsUpdateAvailableSoapDocMethod">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Is Client Update Available</wsdl:documentation>
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Is Client Update Available</wsdl:documentation>
      <input message="s0:IsUpdateAvailableSoapDocMethodHttpPostIn" />
      <output message="s0:IsUpdateAvailableSoapDocMethodHttpPostOut" />
    </operation>
    <operation name="IsServerOlder">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Is server older</wsdl:documentation>
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Is server older</wsdl:documentation>
      <input message="s0:IsServerOlderHttpPostIn" />
      <output message="s0:IsServerOlderHttpPostOut" />
    </operation>
    <operation name="IsServerOlderSoapDocMethod">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Is server older</wsdl:documentation>
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Is server older</wsdl:documentation>
      <input message="s0:IsServerOlderSoapDocMethodHttpPostIn" />
      <output message="s0:IsServerOlderSoapDocMethodHttpPostOut" />
    </operation>
  </portType>
  <binding name="ClientUpdateSoap" type="s0:ClientUpdateSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="GetUpdateFiles">
      <soap:operation soapAction="http://novell.com/ifolder/web/GetUpdateFiles" style="rpc" />
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </output>
    </operation>
    <operation name="GetUpdateFilesSoapDocMethod">
      <soap:operation soapAction="http://novell.com/ifolder/web/GetUpdateFilesSoapDocMethod" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="IsUpdateAvailableActual">
      <soap:operation soapAction="http://novell.com/ifolder/web/IsUpdateAvailableActual" style="rpc" />
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </output>
    </operation>
    <operation name="IsUpdateAvailableActualSoapDocMethod">
      <soap:operation soapAction="http://novell.com/ifolder/web/IsUpdateAvailableActualSoapDocMethod" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="IsUpdateAvailable">
      <soap:operation soapAction="http://novell.com/ifolder/web/IsUpdateAvailable" style="rpc" />
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </output>
    </operation>
    <operation name="IsUpdateAvailableSoapDocMethod">
      <soap:operation soapAction="http://novell.com/ifolder/web/IsUpdateAvailableSoapDocMethod" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="IsServerOlder">
      <soap:operation soapAction="http://novell.com/ifolder/web/IsServerOlder" style="rpc" />
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </output>
    </operation>
    <operation name="IsServerOlderSoapDocMethod">
      <soap:operation soapAction="http://novell.com/ifolder/web/IsServerOlderSoapDocMethod" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CheckForUpdate">
      <soap:operation soapAction="http://novell.com/ifolder/web/CheckForUpdate" style="rpc" />
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </output>
    </operation>
    <operation name="CheckForUpdateSoapDocMethod">
      <soap:operation soapAction="http://novell.com/ifolder/web/CheckForUpdateSoapDocMethod" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="ClientUpdateHttpGet" type="s0:ClientUpdateHttpGet">
    <http:binding verb="GET" />
    <operation name="GetUpdateFiles">
      <http:operation location="/GetUpdateFiles" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetUpdateFilesSoapDocMethod">
      <http:operation location="/GetUpdateFilesSoapDocMethod" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="IsUpdateAvailableActual">
      <http:operation location="/IsUpdateAvailableActual" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="IsUpdateAvailableActualSoapDocMethod">
      <http:operation location="/IsUpdateAvailableActualSoapDocMethod" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="IsUpdateAvailable">
      <http:operation location="/IsUpdateAvailable" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="IsUpdateAvailableSoapDocMethod">
      <http:operation location="/IsUpdateAvailableSoapDocMethod" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="IsServerOlder">
      <http:operation location="/IsServerOlder" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="IsServerOlderSoapDocMethod">
      <http:operation location="/IsServerOlderSoapDocMethod" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="ClientUpdateHttpPost" type="s0:ClientUpdateHttpPost">
    <http:binding verb="POST" />
    <operation name="GetUpdateFiles">
      <http:operation location="/GetUpdateFiles" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetUpdateFilesSoapDocMethod">
      <http:operation location="/GetUpdateFilesSoapDocMethod" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="IsUpdateAvailableActual">
      <http:operation location="/IsUpdateAvailableActual" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="IsUpdateAvailableActualSoapDocMethod">
      <http:operation location="/IsUpdateAvailableActualSoapDocMethod" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="IsUpdateAvailable">
      <http:operation location="/IsUpdateAvailable" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="IsUpdateAvailableSoapDocMethod">
      <http:operation location="/IsUpdateAvailableSoapDocMethod" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="IsServerOlder">
      <http:operation location="/IsServerOlder" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="IsServerOlderSoapDocMethod">
      <http:operation location="/IsServerOlderSoapDocMethod" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="ClientUpdate">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Client Update Web Service</wsdl:documentation>
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Client Update Web Service</wsdl:documentation>
    <port binding="s0:ClientUpdateSoap" name="ClientUpdateSoap">
      <soap:address location="http://164.99.101.16/simias10/ClientUpdate.asmx" />
    </port>
    <port binding="s0:ClientUpdateHttpGet" name="ClientUpdateHttpGet">
      <http:address location="http://164.99.101.16/simias10/ClientUpdate.asmx" />
    </port>
    <port binding="s0:ClientUpdateHttpPost" name="ClientUpdateHttpPost">
      <http:address location="http://164.99.101.16/simias10/ClientUpdate.asmx" />
    </port>
  </service>
</definitions>